<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="atol">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Atol</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="topping">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Topping</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv">
      <ion-icon name="square"></ion-icon>
      <ion-label>TV</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
