<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Topping Remote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Topping</ion-title>
    </ion-toolbar>
  </ion-header>




  <div id="container">

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-button (click) = "onAction('TOPPING_POWER_ON_OFF')" color="primary">Power On Off</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TOPPING_INPUT_SELECT_LEFT')" color="primary">Input Select Up</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TOPPING_INPUT_SELECT_RIGHT')" color="primary">Input Select Down</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TOPPING_OUTPUT_SELECT')" color="primary">Output Select</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('ATOL_FILTER')" color="primary">Filter</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('ATOL_DISPLAY')" color="primary">Brightness</ion-button>
      </ion-col>
      <ion-col class="ion-align-items-start">
        <ion-button (click) = "onAction('TOPPING_AUTO')" color="primary">Auto</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>

  </div>


</ion-content>
